<main class="container">
  <div class="row">
    <div class="col-9">
      <section class="experience">
        <div class="card  my-3">
          <div class="container mt-4 ml-2">
            <div class="row">
              <div class="col-10">
                <h5>Deneyim</h5>
              </div>
            </div>
            <div *ngFor="let ex of experiences" class="row mt-3 mb-3">
              <div class="col-11">
                <div class="" style="width: 49rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <i class="far fa-building" style="margin-right: 4px;"></i>{{ex.experienceTitle}}<br>
                    <span>{{ex.companyName}}-{{ex.employmentType}}</span><br>
                    <span>{{ex.location}}</span>
                    <hr>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-1 mt-3">
                <span (click)="openSubExperienceModal(ex.id)"><i class="far fa-edit"></i></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-3"></div>
  </div>
</main>
<div class="modal show fade d-block mt-4" *ngIf="experienceModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="experience">

      <div class="modal-header">
        <h5>Deneyimi Düzenle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeSubExperienceModal()"></button>
      </div>
      <form [formGroup]="editExperienceForms">
        <div class="container">
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Başlık</label>
            <input class="form-control form-control-sm" type="text" formControlName="experienceTitle" [(ngModel)]="editExperienceByIdModel.experienceTitle" aria-label=".form-control-sm example">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">İstihdam Türü</label>
            <select class="form-select form-select-sm" formControlName="employmentType" [(ngModel)]="editExperienceByIdModel.employmentType" aria-label=".form-select-sm example">
              <option selected>Lütfen Seçiniz</option>
              <option value="Tam Zamanlı">Tam Zamanlı</option>
              <option value="Yarı Zamanlı">Yarı Zamanlı</option>
              <option value="Kendi İşim">Kendi İşim</option>
              <option value="Serbest Çalışan">Serbest Çalışan</option>
              <option value="Sözleşmeli">Sözleşmeli</option>
              <option value="Stajyer">Stajyer</option>
              <option value="Çırak">Çırak</option>
              <option value="Seasonal">Seasonal</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Şirket Adı</label>
            <input class="form-control form-control-sm" type="text" [(ngModel)]="editExperienceByIdModel.companyName" formControlName="companyName" aria-label=".form-control-sm example">
          </div>
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Konum</label>
            <input class="form-control form-control-sm" type="text" formControlName="location" [(ngModel)]="editExperienceByIdModel.location" aria-label=".form-control-sm example">
          </div>
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Başlangıç Tarihi</label>
            <input class="form-control form-control-sm" type="date" formControlName="startDate" [ngModel]="editExperienceByIdModel.startDate| date:'yyyy-MM-dd'" aria-label=".form-control-sm example">
          </div>
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Bitiş Tarihi</label>
            <input class="form-control form-control-sm" type="date" formControlName="endDate" [ngModel]="editExperienceByIdModel.endDate| date:'yyyy-MM-dd'" aria-label=".form-control-sm example">
          </div>
          <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Sektör</label>
            <textarea class="form-control form-control-sm" rows="3" formControlName="sector" [(ngModel)]="editExperienceByIdModel.sector" aria-label=".form-control-sm example"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Açıklama</label>
            <textarea class="form-control form-control-sm" rows="5" formControlName="explanation" [(ngModel)]="editExperienceByIdModel.explanation" aria-label=".form-control-sm example"></textarea>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" data-bs-dismiss="modal" (click)="editedExperience()">Kaydet</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteExperience(editExperienceByIdModel.id)">Deneyimi Sil</button>
      </div>
    </div>
  </div>
</div>